.wrapper {
  position: relative;
}
.root {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 0px 12px 32px;
  border-radius: 12px;
  font-size: 20px;
  margin: 0 10px;
  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}
.iconDel {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 250px;
  top: 13px;
  opacity: 0.3;
  &:hover {
    transform: scale(1.1);
		cursor: pointer;
		fill: red;
  }
}
.iconSearch {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 15px;
  top: 13px;
  opacity: 0.3;
}
